# Ignore Gradle project-specific cache directory
.gradle

# Ignore ACS editor directory
.acside

# Ignore Kotlin directory
.kotlin

# Ignore Gradle build output directory
build

# Android local properties (machine-specific SDK path)
local.properties

# IDE files
.idea
*.iml
.DS_Store